<!DOCTYPE html>
<html>
  <head>
    <title>Draw some shapes with functions</title>
  </head>
  <body>
    <div style="float: left; width: 300px;">
      <ul>
        <h3>1. Squares and Circles</h3>
        <li>Square
          <br/>
          <button id="p1">Draw</button>
        </li>
        <li>Another Square
          </br>
          <button id="p2">Draw</button>
        </li>
        <li>Circle
          </br>
          <button id="p3">Draw</button>
        </li>
        <li>Another Circle
          </br>
          <button id="p4">Draw</button>
        </li>
        <li>Crazy square circle shape
          </br>
          <button id="p5">Draw</button>
        </li>
      <h3>2. Circle Triplets</h3>
      <li>Green Triplet
        </br>
        <button id="p6">Draw</button>
      </li>
      <li>Blue Triplet
        </br>
        <button id="p7">Draw</button>
      </li>
      <li>Four Triplets of Different Colors
        </br>
        <button id="p8">Draw</button>
      </li>
      <h3>3. Challenge: Triangles Inside Triangles</h3>
      <li>Filled-In Triangle
        </br>
        <button id="p9">Draw</button>
      </li>
      <li>Triforce
        </br>
        <button id="p10">Draw</button>
      </li>
      <li>Triple Triforce
        </br>
        <button id="p10">Draw</button>
      </li>
      <li>Sierpinski
        </br>
        <button id="p11">Draw</button>
      </li>
    </div>

    <!-- This is the canvas element where everything is drawn -->
    <canvas id="canvas" width="500" height="500" style="border: 1px dotted black"></canvas>
    <button id="clear">Clear</button>

    <a href="/">Back</a>

    <!-- Now load all the javascript and css code -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/funcs.js" type="text/javascript"></script>
  </body>
</html>
