<!DOCTYPE html>
<html>
  <head>
    <!-- Edit me! -->
    <title>My Stuff</title>
  </head>

  <body>
    <center><h1>MY STUFF</h1></center>

    <!-- This draws a line across the page! -->
    <hr/>

    <div class="problem">
      <h2 class="problem_title">Say Hello!</h2>
      <p> 
      </p>
      <button id="say_hello">Say hello</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Houdini</h2>
      <p id="houdini_text">Write some code to make this paragraph disappear when you click on the button. Then write some code to make it reappear with the other button</p>
      <button id="disappear">Disappear</button>
      <button id="reappear">Reappear</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Tickle Me Pink</h2>
      <p id="tickled_text">Make this text turn pink when you click a button. Note that this time, we didn't write any of the HTML or javascript for you! Look at the previous examples to see how to do that. Make sure you give your button a unique id as this will be the name you use to refer to it in your javascript code.</p>
      <button id="change_color">Change color</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Greet Me</h2>
      <p id="tickled_text">Make this button greet you by the name you enter in the box. <i>Hint: Try typing <b>$('#my_name').val()</b> into the console. What value does it give you? How does it change as you enter things into the text box?</i></p>

      <input type="text" id="my_name" />
      <button id="greet">Greet me!</button>
    </div>

    <a href="/">Back</a>

    <!-- Now load all the javascript code -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/stuff.js" type="text/javascript"></script>
  </body>
</html>
